In [62]:
def test_func(x, items=[]):
    items.append(x)
    return items

print(test_func(1))
print(test_func(2))

[1]
[1, 2]

In [63]:
a=input("word    :")
vovels = 'aeiouAEIOU'
x= 0
for i in a:
  if i in vovels:
    x = x+1

x

word    :mubashir

3

In [64]:
import copy
x = [1, [2, 3]]

# Create a shallow copy
y = copy.copy(x)

# Modify inner object in the copy
y[1][0] = 99

print("Original:", x)  # Output: [1, [99, 3]]
print("Shallow Copy:", y)

Original: [1, [99, 3]]
Shallow Copy: [1, [99, 3]]

In [65]:
a=int(input())
b=int(input())
print(a+b)

5
6
11

# New Section

In [66]:
a=int(input("enter a number"))
b=int(input("enter another number"))
print(a+b)

enter a number45
enter another number25
70

In [67]:
mark = float(input("enter your marks"))
def get_grade(x):
  if x>=90:
    print("A")
  elif x>=80:
    print("B")
  elif x>=70:
    print("c")
  elif x>=60:
    print("d")
  elif x>=50:
    print("e")
get_grade(mark)

enter your marks65
d

In [68]:
import random
a=random.randrange(1,10)
print(a)
#it will only take numbr's bw 1-9

2

In [69]:
import random
a=random.randint(1,10)
print(a)
#it will take number's bw 1-10

7

In [70]:
import math
x=math.sin(0)
y=math.pi
print(x)
print(y)

0.0
3.141592653589793

In [71]:
from math import sin,pi
print(pi)
print(sin(0))
# math il ninn sin,pi imprt akan firsr linile pole (from (import yevdna aknda name like  "math")import (yenthano import aknde ath like "sin,pi"))

3.141592653589793
0.0

In [72]:
import math
x=math.tan(0)
print(x)
# oru pkgl ninn oru data imprt cheyyan = import (pakage name) next line== x=(pkg name).(specific data name and value in bracket()) next line= print(x)

0.0

In [73]:
import random
x=random.randrange(1,3)
y=random.randint(2,5)
print(x)
print(y)
print(x**y)
# qustion?= write program that genarate a random number b/w 1-50 , a random number y b/w 2-5,and compute x**y (x squer y)
# print(x),print(Y) pakaram print(x,y) cheythal mathi.

2
2
4

In [74]:
a='john'
b="\n i'am \njohn"
c='''i'am "john"'''
print(a)
print(b)
print(c)
# (\n) kodthal new lane il ahn varuk .. eqution nte athym kodthal

john

 i'am
john
i'am "john"

In [75]:
c="hello"
print(c[0:3])
# hello yenna wordle athyathe 3 letters print akaan= print(c[0:3]) kodkam

hel

In [76]:
c="smile"
print(c[0::2])
# print(c[0::2]) 0= start .  blank=stop .  2=step   ( c[start:stop:step])

sie

In [77]:
a="good"
print(a[::-1])
# good yenn ullath thirich idan .   start and stop blank aki  step=-1 kodthal mathi - print(c[::-1])

doog

In [78]:
list1=["neymar",8,98,"john"]
print(list1[0])
print(type(list1))
# list yeth type list anenn manasil akaan  - print(type(list)) yenn adichal mathis

neymar
<class 'list'>

In [79]:
list1=["neymar",9,88,"john"]
list1[0]="mike"
print(list1[0])

mike

In [80]:
a="john"
b="i'am john"
c='''\n i'am "john"'''
print(a)
print(b)
print(c)

john
i'am john

 i'am "john"

In [81]:
a="goodmorning"
print(a[2::4])

org

In [82]:
a="ABC"
print(a.lower())

abc

In [83]:
s="anshif"
print(s.upper())

ANSHIF

In [84]:
s="anshif"
print(s.upper())
b="ANSHIF"
print(b.lower())

ANSHIF
anshif

In [85]:
a=" hi hello" # to remove   space from brgening
b=a.strip()
print(b[0])

h

In [86]:
a="hi hello" # split based on specific charcter (" "," @")
print(a.split(" "))
b=a.split(" ")
print(len(b[1]))

['hi', 'hello']
5

In [87]:
a="hi%hello"
print(a.split("%"))

['hi', 'hello']

In [88]:
a="learn logic"
print(a.replace("learn","hi"))

hi logic

In [89]:
s="new"
print(s.isalpha())
b="9"
print(b.isalpha())

True
False

In [90]:
# Q? write a program that ask the user for a number of seconds and prints out how many seconds that is. for instance,200 seconds is 3 minutes and 20 seconds.
# [hint: use the // operator  to get minuts and the % for operator for seconds.]???
a=int(input("number of seconds"))
minutes=(a//60)
seconds=(a%60)
print(minutes,seconds)

number of seconds59
0 59

In [91]:
# q? photosynthesis le s change aki z akuka?
s="photosynthesis"
list1=list(s)
list1[5]="z"
s=''.join(list1)
print(s)

photozynthesis

In [92]:
s="photosynthesis"
b=s[0:5]+"z"+s[6:]
print(b)

photozynthesis

In [93]:
a="iam a\"geek\""
b="iam a\tgeek"
c="iam a\ngeek"
d="iam a\\geek"
print(a)
print(b)
print(c)
print(d)

iam a"geek"
iam a	geek
iam a
geek
iam a\geek

In [94]:
a=input("enter your name")
b=int(input("enter age"))
print(f"my name is {a}")
print(f"iam {b} years old")
#    equation=   print(f"_____ {}")

enter your namemubashir
enter age21
my name is mubashir
iam 21 years old

In [95]:
age=int(input("enter your age"))
place=(input("enter your place"))
s="iam {} years old,iam from {}".format(age,place)
print(s)

enter your age21
enter your placeperinthalmanna
iam 21 years old,iam from perinthalmanna

In [96]:
a=100,50,65,82,10
b=list(a)
b[0]=70
print(b)

[70, 50, 65, 82, 10]

In [97]:
a="iamnorgreatfell"
b=a[:5]+"t"+a[6:12]+"u"+a[13:]
print(b)

iamnotgreatfull

In [98]:
a="iambvdperstn"
b=a[:4]+"a"+a[5:10]+"o"+a[-1:]
print(b)

iambadperson

In [99]:
a="baginnotwtt"
b = a[:4]+"s"+a[5:9]+"e"+a[-1]
print(b)

bagisnotwet

In [100]:
a="thisesfreeterid"
b=a[:4]+"i"+a[5:10]+"p"+a[11:]
print(b)

thisisfreeperid

In [101]:
s="hhh"
print(s.count("h"))
# equation= print(x.count(""))

3

In [102]:
s="hello"
print(s*2)
b="\nhello"
print(b*2)
c="\thello"
print(c*2)
d="\hello"
print(d*2)

hellohello

hello
hello
	hello	hello
\hello\hello

In [103]:
s="i have {0} cars and {1} bikes".format(2,3,4)
print(s)

i have 2 cars and 3 bikes

In [104]:
x=int(input("enter numer of cars"))
y=int(input("enter number of cars"))
print("i have {} cars and {} bikes".format(x,y))

enter numer of cars5
enter number of cars5
i have 5 cars and 5 bikes

In [105]:
a="goodmorning"
b=a # In Python, assignment creates a new reference to the same string object
print(b)       # This will print the same string as 'a'   # string not allow  copy()

goodmorning

In [106]:
x=[1,2,3]
type(x)

list

In [107]:
c=[1,2,3]
type(c[0])

int

In [108]:
l=[1,2,3,4]
l.append(5)   # equation=  l.append()
print(l)

[1, 2, 3, 4, 5]

In [109]:
l=[1,2,3,4,]
l.insert(1,5)    # equation=  l.insert(position,add number)
print(l)

[1, 5, 2, 3, 4]

In [110]:
l=[1,2,3,4]
x=[9,8,7]
c=[5,6]
l.extend(x)            # equation=  l.extend(x)
print(l)
l.extend(c)
print(l)

[1, 2, 3, 4, 9, 8, 7]
[1, 2, 3, 4, 9, 8, 7, 5, 6]

In [111]:
l=[1,2,3]
l.pop()       # equation=  l.pop()
print(l)      # index use cheyth change akan

[1, 2]

In [112]:
l=[1,2,3,4]
l.remove(4)  # element use aki remove aakm
print(l)

[1, 2, 3]

In [113]:
l=[1,2,3,4]
del l[0]
print(l)

[2, 3, 4]

In [114]:
l=[1,2,3,4]
l.clear()
print(l)

[]

In [115]:
l=[20,30,40]
for x in l:
  print(x)

20
30
40

In [61]:
l=[20,30,40]
for x in l:
  print(x+2)

22
32
42

In [116]:
l=[1,2,3,4]
for x in l:
  print(x*5)

5
10
15
20

In [117]:
l=[1,2,3,4,5,6]
for x in l:
 if x%2==0:
  print(x)

2
4
6

In [118]:
l=[1,2,3,4,5,6]
for x in l:
 if x%2==1:
  print(x)

1
3
5

In [119]:
# using for loop create a list containing elements from 1-10?
l=[]
for x in range (1,11):
  l.append(x)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a="view sonic"
if 'w' in a:
  print("true")
else:
  print("false")

In [120]:
a="view sonic"
if 'w' not in a:
  print("false")
else:
  print("true")

true

In [121]:
a=(input("type anything"))
print(a*10)
print(a[0])
print(a[:3])
print(a[-3:])
print(a[::-1])
print(a[1:5])
if len(a)>7:
  print(a[6])
else:
  print("error")
print(a.upper())
print(a.replace("n","e"))
print(a.replace(""," "))

type anythingmubashir
mubashirmubashirmubashirmubashirmubashirmubashirmubashirmubashirmubashirmubashir
m
mub
hir
rihsabum
ubas
i
MUBASHIR
mubashir
 m u b a s h i r

In [122]:
# 1?   write a program that creat an empty list,append 1, 2, 3, to the list ,and print the list?

a=[]
a.append(1)
a.append(2)
a.append(3)
print(a)

[1, 2, 3]

In [123]:
# 2? write a program that creat a list of colors,insert a new color at the second position, and then print the modified list?

a=["white","blue","black","red"]
a[1]="green"
print(a)

['white', 'green', 'black', 'red']

In [124]:
#3? write a program that creats two list of numbers , extend the first list with the elemnts of the second list,and then print the compined list?

a=[1,2,3]
b=[9,8,7,6]
a.extend(b)
print(a)

[1, 2, 3, 9, 8, 7, 6]

In [125]:
# 4?   wtite a program that creats a list of animals,remove one animal from the list using remove() methord,and then print the modified list?

a=["dog","cat","tiger"]
a.remove("dog")
print(a)

['cat', 'tiger']

In [126]:
# 5? write a program that creat list of fruits name,use the pop methord to remove the last fruit from the list,and print the modified list?

a=["apple","banana","pineaple"]
a.pop()
print(a)

['apple', 'banana']

In [127]:
# 6?  write program that creats a list of cars , use the del keyword to remove the second car from the list, and print the modified list?

a=["bmv","benz","toyota"]
del a[1]
print(a)

['bmv', 'toyota']

In [128]:
# 7?  write program that creat list of cities ,use the clear() methord to empty the list and print the modified list?

a=["puthanathani","malappuram","kottakkal"]
a.clear()
print(a)

[]

In [129]:
# 8? write a program a creat the list of of names, loops through the list and print each name on new line?

a=["anshif","shafna","anshiii","sheriii"]
for x in a:
  print(x)

anshif
shafna
anshiii
sheriii

In [130]:
# 9?  write a program that creats alist of numbers, loops through the list using  afor loop and the index , and print each numbers along with its index?
a=[1,2,3,4,5,6]
for x in range(len(a)):
  print(x,":",a[x])

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6

In [131]:
a=[1,2,3,4,5,6]
[(x,a[x]) for x in range(len(a))]

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [132]:
# 10?  write a program that creats a list of squers of numbers from 1-5 using list comprehension and then print the list?

a=[1,2,3,4,5]
for x in a:
  print(x**2)

1
4
9
16
25

In [133]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [134]:
a=input("eneter astring: ")
b=len(a)
print(b)
mid=b//2          # (//)  use akunnath oru word ne arikumbo (.) vech varathe crct kittan use akaam
if b%2==0:
  print(a[mid-1 : mid+1])
else:
  print(a[mid])

eneter astring: mubashir
8
as

In [135]:
a = int(input("enter a number: "))  # Get input as an integer
b = int(str(a)[::-1])  # Convert to string, reverse, and convert back to integer
if a == b:
  print("palindrome")
else:
  print("not palindrome")

enter a number: 45
not palindrome

In [136]:
a =input("enter a string: ")
b =a[::-1]
if a == b:
  print("palindrome")
else:
  print("not palindrome")

enter a string: mubashir
not palindrome

In [137]:
a=[104,11,89,502,]
a.sort()
print(a)
b=["Jackfruit","pineaple","orange"]
b.sort()
print(b)

[11, 89, 104, 502]
['Jackfruit', 'orange', 'pineaple']

# Sort

In [138]:
b=["jackfruit","Pineaple","orange"]
b.sort()
print(b)

['Pineaple', 'jackfruit', 'orange']

In [139]:
b=["jackfruit","Pineaple","Orange"]
b.sort(key=str.lower)
print(b)

['jackfruit', 'Orange', 'Pineaple']

In [140]:
a=[104,11,89,502,]
a.sort(reverse=True)
print(a)
b=["jackfruit","pineaple","orange"]
b.sort(reverse=True)
print(b)

[502, 104, 89, 11]
['pineaple', 'orange', 'jackfruit']

In [141]:
b=["jackfruit","pineaple","Orange"]
b.sort(reverse=True,key=str.lower)
print(b)

['pineaple', 'Orange', 'jackfruit']

In [142]:
b=["jackfruit","pineaple","Orange"]
b.reverse()
print(b)

['Orange', 'pineaple', 'jackfruit']

In [143]:
b=["jackfruit","pineaple","Orange"]
a=b.copy()
print(a)

['jackfruit', 'pineaple', 'Orange']

In [144]:
albin=[1,2,3,4]
a=albin.copy()
albin[0]=500
print(a)
print(albin)

[1, 2, 3, 4]
[500, 2, 3, 4]

In [145]:
#################       TUPLE      #######    TUPLE       #####
#################       TUPLE       #######   TUPLE      #####
#################       TUPLE       #######   TUPLE      #####
#################       TUPLE       #######   TUPLE      #####

In [146]:
a=("neymar","messi","c.ronaldo")
len(a)

3

In [147]:
a=("neymar","messi","c.ronaldo")
type(a)

tuple

In [148]:
a=("neymar","messi","c.ronaldo")
if "neymar" in a:
  print("neymar is in the tuple")
else:
  print("not found")

neymar is in the tuple

In [149]:
a=(1,2,3,4,5,6,7,)
print(a[1::2])

(2, 4, 6)

In [150]:
a=(1,2,3,4,5,6,7,)
y=list(a)
y[0]=4
a=tuple(y)
print(a)

(4, 2, 3, 4, 5, 6, 7)

In [151]:
a=(1,2,3,4,5,6,7,)
y=(9,)
a=a+y
print(a)

(1, 2, 3, 4, 5, 6, 7, 9)

In [152]:
a=(1,2,3,4,5,6,7,)
y=(9,)
a+=y          # simple methord
print(a)

(1, 2, 3, 4, 5, 6, 7, 9)

In [153]:
a=("neymar","messi","c.ronaldo")
y=list(a)
y.remove("messi")
a=tuple(y)
print(a)

('neymar', 'c.ronaldo')

In [154]:
a=("apple","banana","jackfruit")
(red,yellow,green)=a
print(yellow)
print(red)
print(green)

banana
apple
jackfruit

In [155]:
a=("apple","banana","jackfruit","cherry","rasberry")
(red,*yellow,green)=a
print(yellow)
print(green)
print(red)

['banana', 'jackfruit', 'cherry']
rasberry
apple

In [156]:
a=("apple","banana","jackfruit")
b=a*2
print(b)

('apple', 'banana', 'jackfruit', 'apple', 'banana', 'jackfruit')

In [157]:
a=("apple","banana","jackfruit","apple","apple")
print(a.count("apple"))
print(a.index("banana"))

3
1

In [162]:
import copy

a = ("neymar", "messi", "c.ronaldo")
b = copy.deepcopy(a)  # Use copy.deepcopy() to create a copy of a tuple
print(b)

('neymar', 'messi', 'c.ronaldo')

In [163]:
#################       DICTIONARY        #######  DICTIONARY        #####
#################       DICTIONARY         #######  DICTIONARY    #####
#################       DICTIONARY       #######   DICTIONARY       #####
#################      DICTIONARY        #######  DICTIONARY       #####

In [164]:

a={"name":"john",
     "age":78,}
print(a["age"])

78

In [165]:
a={"name":"john"}
print(a)
print(a["name"])

{'name': 'john'}
john

In [166]:
a={
    "brand":"ford",
    "model":"mustang",
    "year":1964,
    "year":2020
}
print(a)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [167]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,
    "year":2020,                             #duplicate undakiyal last varunnath ahn save akuka
    "colours":["red","white","blue"]
}
print(a["colours"])
type(a)
print(len(a))

['red', 'white', 'blue']
4

In [168]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
x=a.keys()
print(x)  #before change
a["colour"]="white"
print(x)  #after change

dict_keys(['brnd', 'model', 'year'])
dict_keys(['brnd', 'model', 'year', 'colour'])

In [169]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
x=a["brnd"]
print(x)
c=a.values()
print(c)

ford
dict_values(['ford', 'mustang', 1964])

In [170]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
x=a.items()
print(x)

dict_items([('brnd', 'ford'), ('model', 'mustang'), ('year', 1964)])

In [171]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
a["colour"]="red"
print(a)

{'brnd': 'ford', 'model': 'mustang', 'year': 1964, 'colour': 'red'}

In [172]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
if "model" in a:
  print("model  present")
else:
  print("model not present")

model  present

In [173]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
if "ford" in a.values():    # values undonn nokan    a.values() use akanam keys print akan avshyalla
  print("ford  present")
else:
  print("ford not present")

ford  present

In [174]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
a.update({"year":2020})     #      values/keys   update akan  a.upadate({})
print(a)
a.update({"end":2050})
print(a)

{'brnd': 'ford', 'model': 'mustang', 'year': 2020}
{'brnd': 'ford', 'model': 'mustang', 'year': 2020, 'end': 2050}

In [175]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
a.pop("model")  # specific atyitt select aki remove akan  a.pop("specific item")
print(a)
a.popitem()    # lat item remove akan  a.popitem()
print(a)

{'brnd': 'ford', 'year': 1964}
{'brnd': 'ford'}

In [176]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
del a["model"]
print(a)

{'brnd': 'ford', 'year': 1964}

In [ ]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
a.clear()
print(a)

In [ ]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
b=a.copy()
print(b)

In [ ]:
a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
b=dict(a)
print(b)

In [ ]:
myfamily={
    "child1":{
        "name":"emil",
        "year":2004
    },
    "child2":{
        "name":"tobis",
        "year":2007
    },
    "child3":{
        "name":"luis",
        "year":2009
    }
}
print(myfamily)
print(myfamily["child2"])

In [ ]:
child1={
        "name":"emil",
        "year":2004
}
child2={
        "name":"tobis",
        "year":2007
}
child3={
        "name":"luis",
        "year":2009
}
myfamily={
    "child1":child1,
    "child2":child2,
    "child3":child3
}
print(myfamily)
print(myfamily["child1"]["name"])

In [ ]:
set1={"apple","banana","cherry"}
print(set1)

In [ ]:
set1={"apple","banana","cherry",True,1,2,0,False}
print(set1)

In [ ]:
a=set(("banana","apple",True,False,2,4))      # set create akaan - (()) -  double round brackets use akum
print(a)

In [ ]:
set1={"apple","banana","cherry",True,1,2,0,False}
for x in set1:
  print(x)

In [ ]:
set1={"apple","banana","cherry",True,1,2,0,False}
if "cherry" in set1:
  print("cherry")

In [ ]:
set1={"apple","cherry","banana",True,1,2,0,False}
print("banana" in set1)
set2={"apple","cherry"}
print("banana" not in set2)

In [ ]:
s={"apple","banana","cherry"}
s.add("orange")
print(s)

In [ ]:
s2={"apple","banana","cherry",True,1,2,0,False}
s={"pineaple","orange"}
s2.update(s)
print(s2)

In [ ]:
s2={"apple","banana","cherry",True,1,2,0,False}
s=["pineaple","jackfruit","orange"]
s2.update(s)
print(s2)

In [ ]:
s={"apple","banana","cherry",True,1,2,0,False}
s.remove("banana")
print(s)

In [ ]:
s={"apple","banana","cherry",True,1,2,0,False}
s.discard("ban")
print(s)

In [ ]:
s={"apple","banana","cherry",True,1,2,0,False}
x=s.pop()
print(s)
s2={"apple","banana","cherry",True,1,2,0,False}
s2.clear()
print(s2)
s3={"apple","banana","cherry",True,1,2,0,False}
del s3
print(s3)

In [ ]:
a={1,2,3,4,5}
b={3,5,6,7,8}
print(a&b)
print(a|b)
print(a-b)

In [ ]:
a={1,2,3,4,5}
b={3,5,6,7,8}
c=a.union(b)
print(c)
d=a.intersection(b)
print(d)
e=a.difference(b)
print(e)
g=a.symmetric_difference(b)
print(g)

In [ ]:
a={"john","viki","thug"}
b={1,2,3}
c={"apple","pineaple","orange"}
d={"g","h","i"}
e=a.union(b,c,d,)

print(e)

In [ ]:
a={"john","viki","thug"}
b={1,2,3}
c={"apple","pineaple","orange"}
d={"g","h","i"}
e=a|b|c|d
print(e)

In [ ]:
#1? add a key to dictionary?

a={
    "brand":"toyota",
    "model":"etios",
    "year":2020
}
a["colour"]="white"
print(a)

In [ ]:
# 2? concatenate any  three dictionarys to craet a new one ?

a={
    "brand":"bmv",
    "model":"x5",
    "year":2024
}
b={
    "brand":"benz",
    "model":"e clas",
    "year":2023
}
c={
    "brand":"toyota",
    "model":"etios",
    "year":2020
}
d={
    "a":a,
    "b":b,
    "c":c
}
print(d)
print(d["a"]["brand"])

In [ ]:
# 3? write a python program to iterate over dictionaries using for loops ?

a={
    "brnd":"ford",
    "model":"mustang",
    "year":1964,

}
for x in a:
  print(x)

In [ ]:
# 4? write apython script to genarate and print a dictionary that contains a number (between 1 and n) in the form (x:x*x).

import random
d={}
n=int(input("enter a number"))
x=random.randrange(1,n+1)
d[x]=x*x
print(d)

In [ ]:
# 5?

a={
    "brand":"ford",
    "model":"mustang",
    "year":1964,

}
b={
    "brand":"benz",
    "model":"e clas",
    "year":2023
}
a.update(b)
print(a)

In [ ]:
# 6?

a={
    1:1,
    2:4,
    3:9,
    4:16
}
sum=0
for x in a.values():
  sum=sum+x
print(sum)

In [ ]:
# 7?

a={
    1:1,
    2:4,
    3:9,
    4:16

}
mul=1
b=a.values()
for x in b:
  mul=mul*x
print(mul)

In [ ]:
# 8?
a={
    1:1,
    2:4,
    3:9,
    4:16
}
a.pop(1)
print(a)

In [ ]:
# 9?

a=[1,2,3]             #9
b=["a","b","c"]
c=dict(zip(a,b))
print(c)

In [ ]:
# 10?

a={
    "brand":"ford",
    "model":"mustang",
    "year":1964,
    "year":2020

}
print(a)

In [ ]:
a={"apple","banana","cherry"}
b={"pineaple","jackfruit","apple"}
c=a.intersection(b)
print(c)
d=a&b
print(d)

In [ ]:
a={"apple","banana","cherry"}
b={"pineaple","jackfruit","apple"}
a.intersection_update(b)
print(a)

In [ ]:
a={"apple","banana","cherry"}
b={"pineaple","jackfruit","apple"}
c=a.difference(b)
print(c)

In [ ]:
a={"apple","banana","cherry"}
b={"pineaple","jackfruit","apple"}
a.difference_update(b)
print(a)

In [ ]:
a={1,2,3,4,5}
b={3,5,6,7,8}
c=a^b
print(c)
d=a.symmetric_difference(b)
print(d)

In [ ]:
a={1,2,3,4,5}
b={3,5,6,7,8}
a.symmetric_difference_update(b)
print(a)

In [ ]:
a={1,2,3,4,5}
b={3,5,6,7,8}
a.isdisjoint(b)

In [ ]:
a={3,4,5}
b={3,4,5,6,7,8}
a.issubset(b)

In [ ]:
a={3,4,5}
b={3,4,5,6,7,8}
b.issuperset(a)

In [ ]:
####### if else    ######

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

In [ ]:
x=int(input("enter number"))
y=int(input("enter number"))
if x>y:
  print("x is greater than y")
  a=x+y
else:
  print("x is less than y")
  a=x-y
print(a)

In [ ]:
score=int(input("enter score"))

time=int(input("time"))
turns_remaining=int(input("turns left"))
if (score<1000 or time>20) and turns_remaining==0:
  print("game over")

In [ ]:
score=int(input("score"))
time=int(input("enter time perid"))
grade=int(input("grade number"))
if grade>=80 and grade<90:
  print("your grade is b.")

if score>1000 or time>20:
  print("game over")
if not (score>1000 or time>20):
  print("game continues")

In [ ]:
from random import randint
num=randint(1,3)
guess=eval(input("enter your guess")) ########  eval is dangerous
if guess==num:
  print("you got it")

In [ ]:
grade=int(input("enter your score"))
if grade>=90:
  print("A")
elif grade>=80:
  print("B")
elif grade>=70:
  print("C")
elif grade>=60:
  print("D")
else:
  print("E")

# use with  if an elif is better

In [ ]:
grade=int(input("enter your score"))
if grade>=90:
  print("A")
if grade>=80:
  print("B")
if grade>=70:
  print("C")
if grade>=60:
  print("D")
if grade<60:
  print("F")

In [ ]:
i=0
while i <6:
  print(i)
  i=i+1

In [ ]:
i=1
while i <=10:
  print(i)
  i=i+1

In [ ]:
i=1
while i <6:
  print(i)
  if(i==5):
    break
  i=i+1

In [ ]:
i=0
while i <6:
  i=i+1
  if(i==3):
    continue
  print(i)

In [ ]:
i=0
while i <6:
  print(i)
  i=i+1
else:
  print("exit from loop")

In [ ]:
i=1
while i <=50:
  print(i)
  i=i+2
  ######  odd numbers

In [ ]:
i=2
while i <=50:
  print(i)
  i=i+2
  #######   even numbers

In [ ]:
i=1
while i<=5:
  a=int(input("your mark"))
  if a>=90:
    print("A")
  elif a>=80:
    print("B")
  elif a>=70:
    print("C")
  elif a>=60:
    print("D")
  elif a>=50:
    print("E")
  elif a<50:
    print("FAIL")
  i=i+1

In [ ]:

import random
list1=["stone","paper","sissor"]
i=1
t=0
w=0
l=0
while i<=5:
  comp=random.choice(list1)  # comp=(computer_choice)
  x=(input("choice"))        # x=(my_choice)
  print("your choice is",x)
  print("computer  choice is",comp)
  if (x==comp):
    print("tie")
    t=t+1
  elif comp== "stone" and x=="paper":
    print(" win")
    w=w+1
  elif comp=="paper" and x=="sissor":
    print("win")
    w=w+1
  elif comp=="sissor" and x=="stone":
    print("win")
    w=w+1
  else:
    print("lose")
    l=l+1
  i=i+1
print("you win",w,"times")
print("you tie",t,"times")
print("you lose",l,"times")

In [ ]:
i=1
while i<=5:
  a=int(input("enter number"))
  b=int(input("enter another number"))
  c=(input("enter operator symbol "))
  if c=="+":
    print(a+b)
  elif c=="-":
    print(a-b)
  elif c=="*":
    print(a*b)
  elif c=="%":
    print(a%b)
  elif c=="**":
    print(a**b)
  elif c=="/":
    print(a/b)
  elif c=="//":
    print(a//b)
  i=i+1

In [ ]:
x=1
while x<=10:
  print(x,"x 2=",x*2)
  x=x+1

In [ ]:
b=float(input("enter breadth(b) "))
h=float(input("enter hight "))
print(.5*b*h)

In [ ]:
a=10
while a<=100:
  print(a)
  a=a+10

In [ ]:
for i in range(1,10,2):

  print(i)

In [ ]:
string1="hello"
for i in string1:
  print(i)

In [ ]:
a=1
while a<=10:
  print(a)
  a+=1

In [ ]:
a=5
print("the number is"+ str(a))

In [ ]:
a=int(input("number "))
b=int(input("another number "))
sum=a+b
print("the result is "+ str(sum))

In [ ]:
a=("no")
type(a)

In [ ]:
name="arju"
name="raman"
print(name)

In [ ]:
print("hello", end= " ")  # end= kodthal 2 print  ota linel print akum
print("world")

In [ ]:
print("   *   ")
print("  * *   ")
print(" * * *  ")

In [ ]:
r=1
while r<=3:
    c=1
    while c<=3:
        print(r,",",c,end="  ")
        c+=1
    print()
    r+=1

In [ ]:
r=1
c=
while r<=3:
    c=1
    while c<=3:
        print(r*c,end=" ")
        c+=1

    print()
    r+=1

In [ ]:
r=3
i=0
while i<r: # to move the next line
  j=0
  while j<(r-i-1): # to print space
    print(" ",end="")
    j+=1
  k=0
  while k<i+1: # to print star
    print("*",end=" ")
    k+=1
  print()
  i+=1

In [ ]:
fruits=["banana","apple","orange"]
for x in fruits:
  print(x)

In [ ]:
for x in range(1,10,2):
  print(x)

In [ ]:
f=["m","b","c"]
for x in f:
  print(x)  # print break n mump vannath kond print ayathin sheshame statement noki break akollu
  if x=="b":
    break

In [ ]:
c=["m","b","c"]
for i in c:
  if i=="b":
    break
  print(i) #print break n shesham ayath kond statement nokitan break cheyyuka

In [ ]:
for i in range(6):
  print(i)
else:
  print("loop finish")

In [ ]:
a =["p","q","r"]
b=["d","o","r"]
for x in a:
  for y in b:
    print(x,y)

In [ ]:
a =["p","q","r"]
b=["d","o","r"]
for x in a:
  for y in b:
    print(x,y,",",end=" ")

In [ ]:
for x in range(6):
  if x=="4":
    pass
print(x)

In [ ]:
a=int(input("which number multiply"))
b=int(input("how many times"))

for x in range(1,b+1):
  print(x, "x", b,"=",x*b)

# star

In [ ]:
a=int(input("number"))

for i in range(a):
  for k in range(a-i-1):
    print(end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

In [ ]:
a= int(input("enter number"))

for i in range(a):
  for k in range(i+1):
    print("*",end=" ")
  print()

In [ ]:
a=3
for i in range(0,a):
  for j in range(0,a-i-1):       #to print space
    print(end=" ")
  for k in range(0,i+1):     # to print star
    print("*",end=" ")
  print()

In [ ]:
for i in range(5):
  for x in range(i+1):
    print("*",end=" ")
  print()

In [ ]:
r=3
i=0
while i<r: # to move the next line
  j=0
  while j<(r-i-1): # to print space
    print(" ",end="")
    j+=1
  k=0
  while k<i+1: # to print star
    print("*",end=" ")
    k+=1
  print()
  i+=1

In [ ]:
a=int(input("number of lines  :"))
i=0
while i<a:
  k=0
  while k<i+1:
    print("*",end=" ")
    k+=1
  print()
  i+=1

In [ ]:
row=int(input("enter the limit:"))
for i in range (1,row+1):
  for j in range(65,65+i):
    print(chr(j),end=" ")
  print()

In [ ]:
f=20
for i in range(0,f):
  for j in range(0,f-i-1):
    print(end=" ")
  for k in range(0,i+1):
    print("*",end=" ")
  print()

In [ ]:
a=3
for i in range(0,a):
  for j in range(0,a-i-1):       #to print space
    print(end=" ")
  for k in range(0,i+1):     # to print star
    print("*",end=" ")
  print()

# FUNCTIONS

In [ ]:
def myfunction():
  print("it is a function")
myfunction()

In [ ]:
def sum(a,b):
  c=a+b
  print("the sum is",c)
sum(10,20)

In [ ]:
def function(name):
  print("my name is ",name)
function("Anshif")

In [ ]:
a=4
b=5
def function(name):
  print("my name is ",name,a*b)
function("Anshif")

In [ ]:
def function(name):
  print("my name is ",name)
value="Anshif"
function(value)

In [ ]:
def function(name,age):
  print("my name is ",name,"age is",age)
value="anshif"
function(value,20)

In [185]:
def sum(a,b):
  c=a+b
  print("the sum is",c)
x=int(input("salary"))
y=int(input("stapend"))
sum(x,y)

salary1000
stapend500
the sum is 1500

In [186]:
def volume(a,b,c):
  c=x*y*z
  print(" the vbolume is",c)
x=int(input("length"))
y=int(input("bredth"))
z=int(input("hieght"))
volume(x,y,z)

length5
bredth4
hieght4
 the vbolume is 80

In [187]:
def area(a,b):
  c=a*b**2
  print(" the area is",c)



x=3.14
y=int(input("radius"))

area(x,y)

radius50
 the area is 7850.0

In [188]:
def function(*a):
  print("first value",a[0],"second value",a[1])
function("x","y")

first value x second value y

In [189]:
a=10
def function():
  print(a)
print(a)
function()

10
10

In [190]:
b=20
def new():
  b=40
  print(b)
print(b)
new()

20
40

In [ ]:
v = 10

def sample():
  global v  # Declare that we want to use the global 'v'
  v = v + 1
  print(v)

sample()

In [193]:
v=10
def sample():
  s=v+1
  print(s)
sample()

11

In [194]:

def sample(a,b):
  print(a,b)
sample(a=10,b="hello")

10 hello

In [195]:

def sample(a=10,b=20):
  print(a,b)
sample()

10 20

In [196]:

def sample(a=10,b=""):
  print(a,b)
sample(b="hello")

10 hello

In [197]:
def sample(a,b=20):
  print(a,b)
sample(a="name",b=25)

name 25

In [198]:
def sum(n1,n2):
  a=n1+n2
  return a ###  return kodth yenth kodkunno ath direct last ulla functionloat store akum !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
result=sum(10,15)
print(result)

25

# factorial

In [199]:
# n numbers nte factorial kanan!!!1

a=int(input("factorial number"))
fact=1
if a<0:
  print("false")
else:
  for x in range(1,a+1):
    fact=fact*x
  print(fact)

factorial number6
720

In [200]:
a=int(input("factorial number"))
fact=1
for x in range(1,a+1):
  fact=fact*x
print(fact)

factorial number6
720

In [201]:
a=10
fact=0
for i in range(1,a+1):
  fact=fact+i
print(fact)

55

In [202]:
# n numbers nte factorial def vech  kanan equation

def fn(n):
  if n==0:
    return 1
  else:
    return n*fn(n-1) # return nte operation  last ulla fn call loat save akunnu
num=int(input("input factorial num"))
result=fn(num)
print(num,"! =",result)

input factorial num9
9 ! = 362880

In [203]:
def fn(n):
  if n==0:
    return 1
  else:
    return n*fn(n-1)
num=4
result=fn(num)
print(num,"!=",result)

4 != 24

In [204]:
# n numbers nte sum kanan equation

def fn(n):
  if n==0:
    return 0
  else:
    return n+fn(n-1)
sum=5 #sum number
result=fn(sum)
print(sum,"!=",result)

5 != 15

In [205]:
n=int(input("sum number "))
sum=0
for i in range(1,n+1):

  sum=sum+i
print(sum)

sum number 5
15

In [206]:
a=int(input(" number "))
if a==1:
  print(" not a prime number")
elif  a/2%1:
  print("prime number")
else:
  print(" not a prime number")

 number 5
prime number

In [207]:
a=10
fact=1
for i in range(1,a+1):
  fact=fact*i
print(fact)

3628800

In [208]:
n=int(input("number"))
for i in range(2,n-1):
  if n%i==0:
    print("not a prime ")
    break
else:
  print("prime number")

number5
prime number

In [209]:
# position (index) argument

def function(*a):
  print("first value",a[0],"second value",a[1])
function("x","y")

first value x second value y

In [210]:
# key word argument

def fn(**kid):
  print("his name is",kid["fname"],kid["lname"])
fn(fname="arjun",lname="ks")

his name is arjun ks

In [211]:

def fn(c="norway"):
  print("i am from ",c)

fn("india")
fn()
fn("london")

i am from  india
i am from  norway
i am from  london

In [212]:
# position only argument

def sum(a,b,/):
  c=a+b
  print(c)
sum(3,4)

7

In [213]:
# key word  only argument

def sum(*,a,b):
  c=a+b
  print(c)

sum(a=4,b=3)

7

In [214]:
#  COMPAIN POSITION ONLY  AND KEY WORD ARGUUMENT

def sum(a,b,/,*,c,d):
  e=a+b
  g=c+d
  print(e)
  print(g)
sum(7,10,c=20,d=30)

17
50

In [215]:
# LAMBDA FUNCTION

p=lambda a,b:a+b
p(3,4)

7

In [216]:
def f(n):
  if(n<=0):
    return 1
  else:
    f(n-1)
    print(n)
    f(n-1)
f(3)

1
2
1
3
1
2
1

# PROBLEMS WRKOUT

In [217]:
# write a program to print following series?
#(8,11,14,17,............,83,86,89)

n=89
for i in range(8,n+1,3):
  print(i,end=",")


print()


a=8
while a<=89:
  print(a,end=",")
  a+=3

8,11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,
8,11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,

In [218]:

n=100
for i in range(n,1,-2):
  print(i,end=",")

print()
x=100
while x>=2:
  print(x,end=",")
  x+=-2

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,
100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

In [219]:
a=int(input("number of lines  :"))
i=0
while i<a:
  k=0
  while k<i+1:
    print("*",end=" ")
    k+=1
  print()
  i+=1

number of lines  :56
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [220]:

for i in range(5):
  for x in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [221]:
# write a program to calculate  the sum of two numbers with function and return it value?
a=int(input("number"))
def sum(a,b):
  c=a+b
  return c
sum(5,4)

number45

9

In [222]:
# write a program to ask to enter a password if password is correct  the program should tell they are loged in to system other wise the program should ask them to re enter the password,user get only five chance to re enter?


q=1234
for i in range(6):
  b=int(input("enter password : "))
  if b==q:
    print(" your loged in to system ")
    break
  elif b!=q:
   print( "wrong pasword re enter you got ",4-i,"times left")
else:
  print("your chance is over")

enter password : 123
wrong pasword re enter you got  4 times left
enter password : 123
wrong pasword re enter you got  3 times left
enter password : 123
wrong pasword re enter you got  2 times left
enter password : 125
wrong pasword re enter you got  1 times left
enter password : 123
wrong pasword re enter you got  0 times left
enter password : 123
wrong pasword re enter you got  -1 times left
your chance is over

In [223]:
q=1234
b=input("enter password : ")
if q==b:
  print(" your loged in to system ")
else:
  for i in range(6):
    if b!=q:
      print( "wrong pasword re enter you got ",5-i,"times left")
      c=input("enter password : ")
  else:
    print("your chance is over")

enter password : 159
wrong pasword re enter you got  5 times left
enter password : 123
wrong pasword re enter you got  4 times left
enter password : 159
wrong pasword re enter you got  3 times left
enter password : 159
wrong pasword re enter you got  2 times left
enter password : 159
wrong pasword re enter you got  1 times left
enter password : 159
wrong pasword re enter you got  0 times left
enter password : 159
your chance is over

In [224]:
# wrie a program to swap two numbers without using a third variable?

a=10
b=20
a=a+b
b=a-b
a=a-b
print(a)
print(b)

20
10

In [225]:
# write a program                average of numbers

n=int(input(" enter number"))
if n>49:
  print(" plz enter number b/w 1,49")
else:
  sum=0
  for x in range(1,n+1):
    sum+=x
  print(sum/n)

 enter number54
 plz enter number b/w 1,49

In [226]:
# write a program to find sum and average of all even  numbers b/w 1-50?



sum=0
for x in range(2,51,2):
    sum+=x
print("sum",sum)
print("average",sum/(x/2))

sum 650
average 26.0

In [227]:
n=5
fact=1
for x in range(1,n+1):
  fact=fact*x
print(n,"factorial =",fact)

5 factorial = 120

In [228]:
def fn(n):
  if n==0:
    return 1
  else:
    return n*fn(n-1)

num=5
result=fn(num)
print("factorial of",num,"is=",result)

factorial of 5 is= 120

In [229]:
def mul(*a):
  print(a[0]*a[1])
mul(3,4)

12

# revision wrkout for loops

In [230]:
for i in range(10):
  if i ==5:
    break # break kodthal kodth sangya oyivaki (5) athin mumb illath vare print akum
  print(i)

0
1
2
3
4

In [231]:
for i in range(10):
  if i ==5:
    continue # continue kodthal kodtha sangya (5) cut aki backi print akum
  print(i)

0
1
2
3
4
6
7
8
9

In [232]:
i=0
while i<7:
  if i==5:
    break
  print(i)
  i+=1

0
1
2
3
4

In [234]:
# break kodthal loop break avum else workavilla

numbers=[1,2,3,4,5]
for x in numbers:
  if x==3:
    print(x)
    break
else:
  print(" no break occurd in the loop")

3

In [235]:
# break kodthilel else um work avum


for i in range(5):
  print(i)
else:
  print("loop cmpltd without a break ")

0
1
2
3
4
loop cmpltd without a break

In [236]:

for i in range(10):
  if i%2==0:
    pass # no action needed for even numbers
  else:
    print(i)

1
3
5
7
9

In [237]:
# 1? write a program that prints your name 5times.

a="anshif"
for x in range(5):
  print(a)

anshif
anshif
anshif
anshif
anshif

In [238]:
# 2?
a="anshif"
for x in range(5):
  print(a)
  for i in range(5):
    print(a,end="")

anshif
anshifanshifanshifanshifanshifanshif
anshifanshifanshifanshifanshifanshif
anshifanshifanshifanshifanshifanshif
anshifanshifanshifanshifanshifanshif
anshifanshifanshifanshifanshif

In [239]:
# 4?
a="anshif"
for x in range(1,11):
  print(x,a)

1 anshif
2 anshif
3 anshif
4 anshif
5 anshif
6 anshif
7 anshif
8 anshif
9 anshif
10 anshif

In [240]:

for x in range(1,10):
  print(x,"x",x,"=",x*x)

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81

In [241]:
a=[1,2,3]

In [242]:
for i in range(3):
  for j in range(4):
    print("i=",i,"j=",j)
  print()

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3

i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3

i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3

In [243]:
a=3
for i in range(0,a):
  for j in range(0,a-i-1):       #to print space
    print(end=" ")
  for k in range(0,i+1):     # to print star
    print("*",end=" ")
  print()

  *
 * *
* * *

# FUNCTION REVISION
1 bulit in function

2 user defined funcion

# 1 built in function
 print,input,pow,max,min

In [244]:
print(pow(3,2))

9

In [245]:
print(max(55,505,4))

505

In [246]:
print(min(55,505,4))

4

# 2 user defined functions
def fn():
   operatioN
fn()

In [247]:
def fn():
  print("hello")
fn()

hello

In [249]:
def fn(name):
  print("my name is",name)
fn("anshif")

my name is anshif

In [250]:
def fn(name):
  print("my name is",name)
value="athulya"
fn(value)

my name is athulya

In [251]:
def fn(name,age):
  print("my name is",name," my age is ",age)
value="athulya"
fn(value,20)

my name is athulya  my age is  20

In [252]:
# arbitrary position argument

def fn(*a):
  print("first value",a[0],"second value",a[1],a[2])
fn("suraj","manu","arjun","amal")

first value suraj second value manu arjun

In [253]:
# arbitrary key word argument

def fn(**kid):
  print("her name is  "+kid["lname"])
fn(lname="shafna")

print()

def fn(**kid):
  print("her name is",kid["a"],"her age is ",kid["b"])
fn(a="shafna",b="18")

her name is  shafna

her name is shafna her age is  18

In [254]:
value=10
def sample():
  print(value)
print(value)
sample()

10
10

In [255]:
value=10 # GLOBAL VARIABLE
def sample():
  value=30 #LOCAL VARIABLE
  print(value)
print(value)
sample()

10
30

In [256]:
a=10
def sample():
  b=30
  print(a,b)
sample()
print(a,b) # error akum karanam b variable function ullil ahn and function porthan print adiche

10 30
10 10

In [ ]:
def sample(name,age):
  print(name,age)
sample(age=10,name="adhil")

In [ ]:
def sample(name,age=20):
  print(name,age)
sample(name="adhil")

In [ ]:
def sample(name,age=20):
  print(name,age)
sample(name="adhil",age=25)

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a)
print(b)

In [ ]:
a=67
b=a%10
c=a//10
print(b+c)

In [ ]:
def fn(country="norway"):
  print("iam from",country)
fn("sweden")
fn()

In [ ]:
def fn(food):
    for x in food:
        print(x)
fruits=["apple","banana","cherry"]
fn(fruits)

In [ ]:
def fn(x):
  return 5*x
print(fn(3))

In [ ]:
def fn(x):
  return 5*x
print(fn(3))
print(fn(5))

In [ ]:
for x in range(4,1,-1):
    print(x)

In [ ]:
# write a program to find sum and average of all even  numbers b/w 1-50?


sum=0
for x in range(2,51,2):
    sum+=x
print("sum",sum)
print("average",sum/(x/2))

In [ ]:
n=5
fact=1
for x in range(1,n+1):
  fact=fact*x
print(n,"factorial =",fact)

In [ ]:
def fn(n):
  if n==0:
    return 1
  else:
    return n*fn(n-1)

num=5
result=fn(num)
print("factorial of",num,"is=",result)

# lambda function

In [ ]:
p=lambda a,b: a+b
p(3,4)

In [ ]:
a=input()
b=a[::-1]
if b==a:
  print("its palindrome")
else:
  print("its not palindrome")

In [ ]:
a=input("number")
print(a[::-1])

In [ ]:
num=int(input("enter a number"))
order=len(str(num))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**order
  temp//=10
if sum==num:
  print(" its armstrong number",sum)
else:
  print("not amstrong number")

In [ ]:
a=int(input("enter a number"))
for i in range(10):
  print(a)

# Amstrung number

In [ ]:
num=int(input(" enter number"))
order=len(str(num))
temp=num
sum=0
while temp>0:
  digit=temp%10
  sum+=digit**order
  temp//=10
if num==sum:
  print("its amstrung number",sum)
else:
  print(sum,"is not amstrung number")

In [ ]:
a=10
fact=1
for i in range(a,a+1):
  fact=fact*i
  print(fact)

# jobin sir s work

In [ ]:
# car parking


total_parking_loat=20
total_cars=int(input("enter total number of cars"))
for x in range(3):
  car1=input("wether next car is coming or not  yes or no")
  if car1=="yes":
    if total_cars<total_parking_loat:
      print("gate 1 will open")
      total_cars+=1


  car2=input("wether car is going out or not  yes or no")
  if car2=="yes":
    print("gate 2 will open")
    total_cars_=1
else:
  print("gate 2 will open")

# workoutss

In [ ]:
a=int(input("a"))
b=int(input("b"))
c=int(input("c"))

x=(-b+((b**2)-(4*a*c))**0.5)/(2*a)
y=(-b-((b**2)-(4*a*c))**0.5)/(2*a)
print(x)
print(y)

In [ ]:
a=int(input("a"))
b=int(input("b"))
c=int(input("c"))

d=(b**2-4*a*c)
e=(-b+(d**0.5))
g=(-b-(d**0.5))
f=e/2*a
h=g/2*a

if d==0:
  print(-b/2*a)
elif d>0:
  print(f)
  print(h)
else:
  print("complex number")

In [ ]:
2#write a program to accept n integers and print largest among them?
a=int(input("a"))
b=int(input("b"))
c=int(input("c"))
d=[a,b,c]
print(max(d))

In [ ]:
a=int(input("enter how many times"))
big=0
for x in range(a):
  b=int(input("number"))
  if b>big:
    big=b
print(big)

In [ ]:
a=(1,2,3)
b=list(a)
print(b)

In [ ]:
row=int(input("enter the limit:"))
for i in range (1,row+1):
  for j in range(65,65+i):
    print(chr(j),end=" ")
  print()

In [ ]:
print(chr(90))

In [ ]:
# if vech bigest number kanan
a=int(input("how many number your are gonna enter:"))
small=b+5
for i in range(a):
  b=int(input("enter your number:"))
  if a<small:
    small=b
print(small)

In [ ]:
# largest number kanan
a=int(input("enter how many times"))
l=[]
for x in range(a):
  b=int(input("number"))
  l.append(b)
print(max(l))

In [ ]:
# smallest number kanan
a=int(input("enter how many times"))
l=[]
for x in range(a):
  b=int(input("number"))
  l.append(b)
print(min(l))

In [ ]:
a=int(input)

In [ ]:
# alredy enterd anenn kanikan

n=int(input("enter how many times :"))
l=[]
for i in range(n):
  a=int(input("enter the values :"))
  if a in l:
    print(a,"already enterd")
  else:
    l.append(a)
print(l)

In [ ]:
# alredy enterd anenn kanikan

n=int(input("enter how many times :"))
l=[]
for i in range(n):
  a=int(input("enter the values :"))
  if a in l:
    continue
  else:
    l.append(a)
print(l)

In [ ]:
a=[1,2,2,3,4,4]
l = []
for i in a:
  if  i not in l:
    l.append(i)

print(l)

In [ ]:
a=[[1,2,2],[4,4],5]
b=[]
for i in a:
  for j in i:
    b.append(j)
print(b)

In [ ]:
a = [[1, 2], [3, 4], [5, 6]]

b = []
for i in a:
    for j in i:
        b.append(j)

print(b)

In [ ]:
r= int(input("enter the rows "))
for i in range (r):
  if i==0 or i==r-1:
    for j in range(r):
      print("*",end=" ")
  else:
    print("*",end="")
    for k in range(1,2*r-2):
      print(" ",end="")
    print("*",end=" ")
  print()

In [ ]:
a=int(input(""))
for i in range(a): # using for raws
  for j in range(a): # using for columns
    if i==0 or i==a-1 or j==0 or j==a-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
a=int(input("enter how many times"))
l=[]
for x in range(a):
  b=int(input("number"))
  l.append(b)
l.sort()
print(l)

In [258]:
a=int(input("enter how many times"))
l=[]
for x in range(a):
  b=int(input("number"))
  l.append(b)
l.sort(reverse=True)
print(l)

enter how many times4
number1
number2
number3
number4
[4, 3, 2, 1]

In [259]:
x=int(input("enter how many times :"))
l=[]
for j in range(x):
  b=int(input("number :"))
  l.append(b)
for k in range(0,x-1):
  for i in range(0,x-1):
    if l[i]>l[i+1]:
      l[i],l[i+1]=l[i+1],l[i]

print(l)

enter how many times :5
number :2
number :3
number :4
number :5
number :7
[2, 3, 4, 5, 7]

In [260]:
#  COMPAIN  ONLY POSITION   AND KEY WORD ARGUUMENT

def sum(a,b,/,*,c,d):
  e=a+b
  g=c+d
  print(e)
  print(g)
sum(7,10,c=20,d=30)

17
50

In [261]:
a=int(input(" first number: "))
b=int(input(" second number: "))
print(" 1= add,2=substraction,3= multiply,4= divide")

c=int(input("operation no: "))
if c==1:
      def fn(a,b):
        f=a+b
        print(f)
      fn(a,b)
elif c==2:
      def fn(a,b):
        g=a-b
        print(g)
      fn(a,b)
elif c==3:
      def fn(a,b):
        h=a*b
        print(h)
      fn(a,b)
def divi():
  if b==0:
    print("not divisible by 0")
  elif c==4:
    k=a/b
    print(k)
divi()

 first number: 5
 second number: 4
 1= add,2=substraction,3= multiply,4= divide
operation no: 4
1.25

In [262]:
i=0
while i<5:
  print(i)
  i+=1
  if i==3:
    break
else:
  print(0)

0
1
2

In [263]:
for n in range(4,2,-1):
  i=int(input("how"))
  n*=i
  print("the result",n)

how5
the result 20
how4
the result 12

In [264]:

def fn(n):
  if n==0:
    return 1
  else:
    return n*fn(n-1)

a=int(input("number: "))
result=fn(a)
print(a,"factorial=",result)

number: 5
5 factorial= 120

In [265]:
def fn(n):
  if n==0:
    return 0
  else:
    return n+fn(n-1)

sum=int(input("number: "))
result=fn(sum)
print("sum of ",sum,"=",result)

number: 4
sum of  4 = 10

# Age finding

In [266]:
from datetime import date
bday=date(2008, 4, 21)
today=date.today()
age= today - bday
print(age.days/365)

16.753424657534246

# star and numbers and alphabets

In [267]:
a= int(input("enter number"))

for i in range(a):
  for k in range(i+1):
    print("*",end=" ")
  print()

enter number4
*
* *
* * *
* * * *

In [268]:

a = 3

for i in range(0, a):

    for j in range(0, a - i - 1):  # To print spaces
        print(end=" ")
    for k in range(0, i + 1):  # To print stars
        print("*", end=" ")
    print()  # Move to the next line after each row

  *
 * *
* * *

In [269]:
a = 5  # Height of the triangle

for i in range(1, a + 1):
    for j in range(1, a - i + 1):  # To print spaces
        print(end=" ")
    for k in range(1, i + 1):  # To print letters
        print(chr(64 + k), end=" ")  # 64 + k gives the ASCII value of 'A' (65) to 'Z'
    print()  # Move to the next line after each row

    A
   A B
  A B C
 A B C D
A B C D E

In [270]:
a = 5  # Height of the triangle

for i in range(1, a + 1):
    for k in range(1, i + 1):  # To print letters
        print(chr(64 + k), end=" ")  # 64 + k gives the ASCII value of 'A' (65) to 'Z'
    print()  # Move to the next line after each row

A
A B
A B C
A B C D
A B C D E

In [271]:
a = 5  # Height of the triangle

for i in range(1, a + 1):
    for j in range(1, a - i + 1):  # To print spaces
        print(end=" ")
    for k in range(1, i + 1):  # To print letters
        print(chr(64 + k).lower(), end=" ")  # 64 + k gives the ASCII value of 'A' (65) to 'Z'
    print()  # Move to the next line after each row

    a
   a b
  a b c
 a b c d
a b c d e

In [272]:
n=5
for i in range(1,n+1):
  for j in range(i):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [273]:
n=5
for i in range(1,n+1):
  for j in range(i):
    print(j+1, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [274]:
n=5
for i in range(1,n+1):
  for j in range(i):
    print(j, end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [275]:
n=1
for i in range(1,5):
  for j in range(i):
    print(n, end=" ")
    n=n+1
  print()

1
2 3
4 5 6
7 8 9 10

# Fibonnaci number

- Start with 0, 1.
- Add them: 0 + 1 = 1  Sequence becomes 0, 1, 1.
- Add the last two numbers: 1 + 1 = 2  Sequence becomes 0, 1, 1, 2.
- Add the last two numbers: 1 + 2 = 3  Sequence becomes 0, 1, 1, 2, 3.
- Add the last two numbers: 2 + 3 = 5  Sequence becomes 0, 1, 1, 2, 3, 5.
- Add the last two numbers: 3 + 5 = 8  Sequence becomes 0, 1, 1, 2, 3, 5, 8.
- Add the last two numbers: 5 + 8 = 13  Sequence becomes 0, 1, 1, 2, 3, 5, 8, 13.

In [276]:
# Number of terms in the sequence
n = 10

# Initialize the first two Fibonacci numbers
fibonacci_sequence = [0, 1]

# Generate the sequence using a for loop
for i in range(2, n):
    next_number = fibonacci_sequence[i - 1] + fibonacci_sequence[i - 2]
    fibonacci_sequence.append(next_number)

# Print the sequence
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Perfect number

- A perfect number is a positive integer that is equal to the sum of its proper divisors (excluding itself).
 - Proper divisors: 1,2,3
 - Sum: 1 + 2 + 3 = 6
 - 6 is a perfect number

In [277]:
n=1000
print(f"Perfect numbers up to {n}:")
for i in range(2,n+1):
  a=0


  for k in range(1,i):
    if i%k==0:
      a+=k

  if a==i:
    print(i)

Perfect numbers up to 1000:
6
28
496

In [278]:

# Define the limit up to which to find perfect numbers
limit = 1000

print(f"Perfect numbers up to {limit}:")

# Iterate through each number from 2 to the limit
for n in range(2, limit + 1):
    divisors_sum = 0

    # Find the sum of proper divisors
    for i in range(1, n):
        if n % i == 0:  # Check if i is a divisor of n
            divisors_sum += i

    # Check if the sum of divisors equals the number
    if divisors_sum == n:
        print(n)

Perfect numbers up to 1000:
6
28
496

# Prime number

- A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. In other words, a prime number is a number that can only be divided evenly by 1 and itself.
 - 2: Divisors are : 1,2  Prime
 - 3: Divisors are : 1,3  Prime
 - 4: Divisors are : 1,2,4  Not Prime (divisible by 2)

In [279]:
n = 100  # You can change this number to any other number

# Loop through numbers from 2 to n to check for primality
for i in range(2, n + 1):
    for j in range(2, i):
        if i % j == 0:  # If divisible, i is not prime
            break
    else:
        print(i)  # If

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [280]:
n=100

for i in range(2,n+1):
  for j in range(2,i):
    if  i%j==0:
      break
  else:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Composit numbers(exclude = 1 and prime number)

# Finding largest word from the sentence

In [299]:
sentence = "Find the largest word in this sentence"
words = sentence.split()  # Split the sentence into words
print(words)
print()
sentence = "Find the largest word in this sentence"
words = sentence.split()  # Split the sentence into words
print(words)
print()
# Initialize the largest word as an empty string
largest_word = ""

# Loop through each word in the list
for word in words:
    if len(word) > len(largest_word):  # If the current word is longer than the largest_word
        largest_word = word  # Update largest_word with the current word

print("Largest word:", largest_word) #This line was causing the issue. Remove the extra indentation on the lines below.

['Find', 'the', 'largest', 'word', 'in', 'this', 'sentence']

['Find', 'the', 'largest', 'word', 'in', 'this', 'sentence']

Largest word: sentence

In [283]:
s1="listene"
s2="silgkfg"

a=set(s1)
b=set(s2)
if s1==s2:
  print("its angram")
else:
  print("its not angram")

its not angram

# Anagram

**Same letters but differnet word**

In [284]:

def words(a,b):
  word1 =a.replace(" ","").lower()
  word2 =b.replace(" ","").lower()

  if sorted(word1)==sorted(word2):
    print("its anagram")
  else:
    print("not anagram")

words("me","you")

not anagram

In [285]:
s1="notmen"
s2="thupon"

a=set(s1)
b=set(s2)
if len(s1)==len(s2):
  print("its angram")
else:
  print("its not angram")

its angram

# Panagram

**In a sentence or a word the all alphabet letters include**

In [286]:
import string

def is_panagram(sentence):

    sentence = sentence.lower().replace(" ", "")

    alphabet = set(string.ascii_lowercase)

    if set(sentence) >= alphabet:
      print(f"its {sentence} is panagram")

    else:
      print(f"'{sentence}' is NOT a paragram.")

sentence = "The qquick brown fox jumps over the lazy dog"
is_panagram(sentence)

its theqquickbrownfoxjumpsoverthelazydog is panagram

# 1-100 not print 3 multiples

In [287]:
n=100
for i in range(1,n+1):
  if i %3==0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

# Leap year

In [288]:
n=20
if (n%4==0 and n%100 !=0) or n%400 == 0:
  print("leap year")
else:
  print(" its not leap year")

leap year

# Fibonacci series

In [289]:
n=10
fib_seris=[0,1]
for i in range(2,n):
  fib_seris.append(fib_seris[i-1]+fib_seris[i-2])
print(fib_seris)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# factorial

 Write a program to calculate the factorial of a number using a loop.

In [290]:
n=5
a=1
for i in range(1,n+1):
  a=a*i
print(a)

120

In [291]:
def fn(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fn(n-1)
print(fn(5))

120

# lambda function

### map function

In [292]:
number=[1,2,3,4]
s=list(map(lambda x: x*2,number))
print(s)

[2, 4, 6, 8]

### Filter

In [293]:
number=[1,2,3,4,5,6,7,8]
even_numb=list(filter(lambda x:x%2 == 0, number))
print(even_numb)

[2, 4, 6, 8]

In [294]:
number=[1,2,3,4,5,6,7,8]
odd_numb=list(filter(lambda x:x%2 !=0, number))
print(odd_numb)

[1, 3, 5, 7]

# Buble sort

In [295]:
a=[50,40,100,25]
for i in range(len(a)):
  for j in range(len(a)-1):
    if a[j]>a[j+1]: #cheking with index  if else: it go to next index elements
      temp=a[j]  # tempeorory larger assigning
      a[j]= a[j+1] # smaller assigning to a[j]
      a[j+1]= temp # larger assigning to a[j+1]
print(a)

[25, 40, 50, 100]

In [296]:
a=123
b=str(a)
for i in b[::-1]:
  print(i)

3
2
1

In [297]:
a=[50,40,130,125]
for i in range(len(a)):
  for j in range(len(a)-1):
    if a[j]>a[j+1]:
      temp=a[j]
      a[j]=a[j+1]
      a[j+1]=temp
print(a)

[40, 50, 125, 130]